<div id="ongoing" class="text-left">
  <h5>Ongoing events</h5>
  <h6>Open rooms</h6>
  <div class="room">
    <img class="icon" src="../images/lottery.svg">
    <div class="name">Surprice room
      <span>(4 GG)</span>
    </div>
    <div class="stats">Wating players - 4:45s elapsed</div>
  </div>
  <div class="room attention">
    <img class="icon" src="../images/lottery.svg">
    <div class="name">Crazy bet
      <span>(400 GG)</span>
    </div>
    <div class="stats">Your turn - 1:02s elapsed</div>
  </div>
  <div class="room">
    <img class="icon" src="../images/lottery.svg">
    <div class="name">Ira's room
      <span>(20 GG)</span>
    </div>
    <div class="stats">Saving - 6:49s elapsed</div>
  </div>
  <h6>Autoplay rooms</h6>
  <div class="room">
    <img class="icon" src="../images/lottery.svg">
    <div class="name">Win 4 ever
      <span>(2 GG)</span>
    </div>
    <div class="stats">Won: 13 | Losses: 4 | Left: 48</div>
  </div>
  <div class="room">
    <img class="icon" src="../images/lottery.svg">
    <div class="name">Best of luck
      <span>(1 GG)</span>
    </div>
    <div class="stats">Won: 2 | Losses: 8 | Left: 90</div>
  </div>
</div>